version: '3.7'

services:
    node:
        build:
            context: .
            dockerfile: Dockerfile.node
        command: npm run build-w
        volumes:
            - .:/code
            - /code/node_modules
    web:
        build:
            context: .
            dockerfile: Dockerfile
        command: python manage.py runserver 0.0.0.0:8000 
        environment:
            - ENVIRONMENT=development
            - SECRET_KEY=&d3b2mg6&=twp3q*!n9f!1#(zp($$j34m5ds=e7v2@+t7m&3z4o
            - ADMIN_URL=admin/
            - SOCIAL_AUTH_GITHUB_KEY=7d8639e8eff3fd36d459
            - SOCIAL_AUTH_GITHUB_SECRET=168227076fdb096fe92ec8de97180168169874f7
        volumes:
            - .:/code
        ports:
            - 8000:8000
        depends_on:
            - db
    db:
        image: postgres:12
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            - POSTGRES_HOST_AUTH_METHOD=trust
volumes:
    postgres_data:
