[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.5"
psycopg2-binary = "==2.8.5"
social-auth-app-django = "==3.1.0"
markdown = "==3.2.1"
whitenoise = "==5.0.1"
gunicorn = "==20.0.4"
dj-database-url = "==0.5.0"
pymdown-extensions = "==7.0.0"
bleach = "==3.1.4"
pygments = "==2.6.1"
django-extensions = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.7"
