{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon-32.png' %}">
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"></script>
  {% block meta %}{% endblock meta %}

  </head>

<body>
<a aria-labelledby="ariaLink" id="ariaLink" href="#main">Skip to main content</a>
<div id="app">
  <b-navbar
    class="container"
    :mobile-burger="false"
    :transparent="true">
    <template slot="brand">
      <div class="navbar-item pr-0">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul style="align-items:center;">
            {% block breadcrumb %}{% endblock breadcrumb %}
            <li aria-hidden="true"></li>
          </ul>
        </nav>
      </div>
    </template>
    <template slot="end">
      {% if user.is_authenticated %}
      <b-navbar-dropdown
        role="menu"
        right
        :arrowless="true"
        :boxed="true">
        <template slot="label">
            <draftimage
              style="width:32px; height:32px"
              src="{{ user.social_auth.get.extra_data.avatar_url }}">
            </draftimage>
        </template>
        <b-navbar-item href="{% url 'new' %}" role="menuitem">
          New article
        </b-navbar-item>
        <b-navbar-item href="{% url 'search' %}?q=favorites:" role="menuitem">
          Favorites
        </b-navbar-item>
        <hr class="dropdown-divider">
        <b-navbar-item href="{{ user.get_absolute_url }}" role="menuitem">
          <strong>{{ user }}/</strong>
        </b-navbar-item>
        <b-navbar-item href="{% url 'logout' %}?next={{ request.path }}" role="menuitem">
          Logout
        </b-navbar-item>
      </b-navbar-dropdown>
      {% else %}
      <div class="navbar-item">
        <b-button
          tag="a"
          href="{% url 'social:begin' 'github' %}?next={{ request.GET.next }}"
          type="is-dark"
          size="is-small"
          icon-left="github"
          aria-label="Sign in using your GitHub account">
          <strong>Sign in</strong>
        </b-button>
      </div>
      {% endif %}
    </template>
  </b-navbar>

  <header class="container px-3">
    {% block header %}{% endblock header %}
  </header>

  <div id="main" class="container is-flex-tablet mt-3 px-3" style="justify-content:space-between">
    {% block container %}{% endblock %}
  </div>

  <footer class="mt-6 footer">
    <div class="has-text-centered">
      <p>
        <a target="_blank" href="https://github.com/drafthub/drafthub">drafthub</a> is an open-source project by <a target="_blank" href="https://github.com/felipelincoln">Felipe Lincoln</a>
      </p>
    </div>
  </footer>

</div> <!-- app -->

  <script src="{% static 'js/bundle.js' %}"></script>
  {% block script %}{% endblock script %}

</body>
</html>
