{% load static %}
{% load drafthub_extras %}
<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	</head>
	<body>

	<!-- navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 border-bottom">
			<a class="navbar-brand mr-3" href="#">DraftHub</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-3">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Favorites
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Albion blackmarket tool</a>
							<a class="dropdown-item" href="#">Competitive programming algorithms</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Show all</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
						<input class="form-control" type="search" placeholder="Search" aria-label="Search">
				</form>
				  <form class="form-inline ml-auto">
					<button class="btn btn-outline-info" type="button"><i class="fab fa-github mr-2"></i>Enter with GitHub</button>
				</form>
			</div>
		</nav>

	<!-- first content -->
		<div class="container-lg">
			<div class="row">
				<div class="col">
					<h2>Trending tags</h2>
				</div>
			</div>
			<hr>
			<div class="row">
				{% for tag in tags %}
					<div class="col-auto pr-0" ass="col-12 col-sm-6 col-md-4 col-lg-3">
						<h3 class=""><span class="badge badge-secondary">
							<i class="fab fa-python"></i>
							{{ tag }} 
							{{ tag.tagged_drafts.all.count }}
							</span></h3>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="container-lg my-5">
			<div class="row">
				<div class="col">
					<h2>Trending articles</h2>
				</div>
			</div>
			<hr>
			<div class="row row-cols-1">
				{% for draft in home_drafts %}
				<div class="col mb-5">
					<div class="row">
						<div class="col">
							<h2> {{ draft.title }} </h2>
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{ draft.abstract }}
						</div>
					</div>
					<div class="row">
						<div class="col-auto text-muted">
							{{ draft.pub_date }}
						</div>
						{% for tag in draft.tags.all %}
							<div class="col-auto pr-2 pl-0">
								<span class="badge badge-info">{{ tag }}</span>
							</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>




		<!-- JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="https://kit.fontawesome.com/c17adb2a33.js" crossorigin="anonymous"></script>
	</body>
</html>
