{% extends 'core/base2.html' %}
{% load drafthub_extras %}

{% block meta %}
  <!-- Primary Meta Tags -->
  <title>drafthub: blog like a developer</title>
  <meta name="title" content="drafthub: blog like a developer">
  <meta name="description" content="Start your own developer blog using git and markdown and integrate the GitHub community">

  <!-- Open Graph / Facebook --> <meta property="og:type" content="website">
  <meta property="og:url" content="https://drafthub-development.herokuapp.com/">
  <meta property="og:title" content="drafthub: blog like a developer">
  <meta property="og:description" content="Start your own developer blog using git and markdown and integrate the GitHub community">
  <meta property="og:image" content="https://i.ibb.co/McvBBRT/drafthub-1.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://drafthub-development.herokuapp.com/">
  <meta property="twitter:title" content="drafthub: blog like a developer">
  <meta property="twitter:description" content="Start your own developer blog using git and markdown and integrate the GitHub community">
  <meta property="twitter:image" content="https://i.ibb.co/McvBBRT/drafthub-1.png">
{% endblock meta %}

{% block breadcrumb %}
  <li class="is-hidden-mobile" aria-hidden="true">
  </li>
{% endblock breadcrumb %}

{% block start %}
  <div class="navbar-item">
    <dh-search action="{% url 'search' %}" placeholder="Search"></dh-search>
  </div>
{% endblock start %}


{% block section %}
  {% if page_obj.has_previous is False %}
  <dh-heading id="mostPopular" >Most popular</dh-heading>
  <div role="feed" aria-labelledby="mostPopular">
    {% for draft in drafts_pop %}
      <dh-article
        title="{{ draft.title }}"
        href="{{ draft.get_absolute_url }}"
        author="{{ draft.blog }}"
        blog="{{ draft.blog.get_absolute_url }}"
        created="{{ draft.created|date:'M j' }}"
        updated="{{ draft.updated|timesince|timesince_format }}"
        datetime="{{ draft.created|date:'Y-m-d' }}"
        src="{{ draft.image }}">
        {% for tag in draft.tags.all %}
          <dh-tag href="{{ tag.get_absolute_url }}">{{ tag }}</dh-tag>
        {% endfor %}
      </dh-article>
    {% endfor %}
  </div>
  <br>
  <br>
  {% endif %}

  <dh-heading>LATEST ARTICLES</dh-heading>
  {% for draft in drafts_new %}
    <dh-article
      title="{{ draft.title }}"
      href="{{ draft.get_absolute_url }}"
      author="{{ draft.blog }}"
      blog="{{ draft.blog.get_absolute_url }}"
      latest="{{ draft.created|timesince|timesince_format }}"
      src="{{ draft.image }}">
      {% for tag in draft.tags.all %}
        <dh-tag href="{{ tag.get_absolute_url }}">{{ tag }}</dh-tag>
      {% endfor %}
    </dh-article>
  {% endfor %}

  <br>
  <br>
  <nav
    style="justify-content:center"
    class="pagination is-rounded is-small"
    aria-label="pagination">
    {% if page_obj.has_previous %}
      <a rel="prev" href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">Previous</a>
    {% else %}
      <a class="pagination-previous" disabled>Previous</a>
    {% endif %}

    {% if page_obj.has_next %}
      <a rel="next" href="?page={{ page_obj.next_page_number }}" class="pagination-next">Next</a>
    {% else %}
      <a class="pagination-next" disabled>Next</a>
    {% endif %}
  </nav>
{% endblock section %}

{% block aside %}
  <dh-heading>MOST ACTIVE TOPICS</dh-heading>
  {% for tag in tags_pop %}
    <p><a href="{{ tag.get_absolute_url }}">{{ forloop.counter }}. {{ tag }}</a></p>
  {% endfor %}

  <br>
  <br>
  <dh-heading>LAST UPDATED</dh-heading>
  {% for draft in drafts_updated %}
    <dh-article
      title="{{ draft.title }}"
      href="{{ draft.get_absolute_url }}"
      author="{{ draft.blog }}"
      blog="{{ draft.blog.get_absolute_url }}"
      latest="{{ draft.updated|timesince|timesince_format }}"
      tiny="true"
      src="{{ draft.image }}">
      {% for tag in draft.tags.all %}
        <dh-tag href="{{ tag.get_absolute_url }}">
          {{ tag }}
        </dh-tag>
      {% endfor %}
    </dh-article>
  {% endfor %}

  <br>
  <br>
  <dh-heading>LAST CHANCE TO READ</dh-heading>
  {% for draft in drafts_random %}
    <dh-article
      title="{{ draft.title }}"
      href="{{ draft.get_absolute_url }}"
      author="{{ draft.blog }}"
      blog="{{ draft.blog.get_absolute_url }}"
      created="{{ draft.created|date:'M j'}}"
      updated="{{ draft.updated|timesince|timesince_format }}"
      tiny="true"
      src="{{ draft.image }}">
      {% for tag in draft.tags.all %}
        <dh-tag href="{{ tag.get_absolute_url }}">
          {{ tag }}
        </dh-tag>
      {% endfor %}
    </dh-article>
  {% endfor %}
{% endblock aside %}
