{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<link rel="icon" type="image/png" href="{% static 'img/favicon-32.png' %}">

	<!-- Primary Meta Tags -->
	<title>drafthub: blog like a developer</title>
	<meta name="title" content="drafthub: blog like a developer">
	<meta name="description" content="Start your own developer blog using git and markdown and integrate the GitHub community">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://drafthub.herokuapp.com/">
	<meta property="og:title" content="drafthub: blog like a developer">
	<meta property="og:description" content="Start your own developer blog using git and markdown and integrate the GitHub community">
	<meta property="og:image" content="https://i.ibb.co/McvBBRT/drafthub-1.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://drafthub.herokuapp.com/">
	<meta property="twitter:title" content="drafthub: blog like a developer">
	<meta property="twitter:description" content="Start your own developer blog using git and markdown and integrate the GitHub community">
	<meta property="twitter:image" content="https://i.ibb.co/McvBBRT/drafthub-1.png">

	<!---->
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>

<body>
	<div id="app">

		<b-field label="Dark">
				<b-taginput
						type="is-primary">
				</b-taginput>
		</b-field>

		<b-button type="is-primary">Oi</b-button>

	</div>

	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
	<script>
		new Vue({
			el: "#app"
		})
	</script>

</body>
</html>
