{% extends "core/base.html" %}
{% block search %}
  XXXXXXXXX&nbsp;
{% endblock search %}
{% block content %}

<div class="container-lg my-5">
  <h2>
  {{ search_content.count }} results
  </h2>

  {% for draft in search_content %}
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ draft.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ draft.blog }}, {{ draft.pub_date }}</h6>
    <p class="card-text">{{ draft.abstract }}</p>
    <a href="{{ draft.get_absolute_url }}" class="card-link">View</a>
  </div>
  </div>
  {% endfor %}

  {% for tag in search_content %}
    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a><br>
  {% endfor %}

  {% for blog in search_content %}
    <a href="{{ blog.get_absolute_url }}">{{ blog }}</a><br>
  {% endfor %}
</div>

{% endblock content %}
