{% extends "core/base.html" %}
{% block search %}
"{% if search_where %}{{ search_where }}{% endif %}
{% if search_who %}.{{ search_who }}{% endif %}
{% if search_where or search_who %}:&nbsp;{% endif %}"
{% endblock search %}
{% block content %}

where: {{ search_where }}<br>
who: {{ search_who }}<br>
what: {{ search_what }}<br>
multi_who: {{ search_multi_who}}

<div class="container-lg my-5">
  <h2>
  {{ search_content.count }} results
  {% if search_where == 'tags' %}
    in tags
    {% for tag in search_multi_who %}
			<span class="badge badge-secondary">{{ tag }}</span>
    {% endfor %}
  {% elif search_where == 'blogs' %}
    in blogs
    {% for blog in search_multi_who %}
			<a href="#">{{ blog }}</a>
    {% endfor %}
  {% endif %}
  </h2>

	{% for obj in search_content %}
	<p><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></p>
	{% endfor %}
	
</div>

{% endblock content %}
