{% extends 'core/base2.html' %}
{% load drafthub_extras %}

{% block meta %}
  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}">
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ page_author }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page_url }}">
  <meta property="twitter:title" content="{{ page_title }}">
  <meta property="twitter:description" content="{{ page_description }}">
  <meta property="twitter:image" content="{{ page_image }}">
{% endblock meta %}



{% block breadcrumb %}
  <li class="is-hidden-mobile" aria-hidden="true">
  </li>
{% endblock breadcrumb %}

{% block start %}
  <div class="navbar-item">
    <dh-search action="{% url 'search' %}" placeholder="Search"></dh-search>
  </div>
{% endblock start %}


{% block main %}
  <section aria-labelledby="searchResults">
  <dh-heading id="searchResults" >Search results</dh-heading>
    {% for draft in drafts_pop %}
      <dh-article
        title="{{ draft.title }}"
        href="{{ draft.get_absolute_url }}"
        author="{{ draft.blog }}"
        blog="{{ draft.blog.get_absolute_url }}"
        created="{{ draft.created|date:'M j' }}"
        updated="{{ draft.updated|timesince|timesince_format }}"
        datetime="{{ draft.created|date:'Y-m-d' }}"
        src="{{ draft.image }}">
        {% for tag in draft.tags.all %}
          <a rel="tag" href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
        {% endfor %}
      </dh-article>
    {% endfor %}
  <br>
  <br>
  </section>
{% endblock main %}

{% block aside %}
  <section aria-labelledby="topicsFound">
  <dh-heading id="topicsFound">Topics Found</dh-heading>
  {% for tag in tags_pop %}
    <p><a href="{{ tag.get_absolute_url }}">{{ forloop.counter }}. {{ tag }}</a></p>
  {% endfor %}
  </section>

  <br>
  <br>
  <section aria-labelledby="blogsFound">
  <dh-heading id="blogsFound">Blogs found</dh-heading>
  {% for draft in drafts_updated %}
    <dh-article
      title="{{ draft.title }}"
      href="{{ draft.get_absolute_url }}"
      author="{{ draft.blog }}"
      blog="{{ draft.blog.get_absolute_url }}"
      latest="{{ draft.updated|timesince|timesince_format }}"
      tiny="true"
      src="{{ draft.image }}">
      {% for tag in draft.tags.all %}
        <a rel="tag" href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
      {% endfor %}
    </dh-article>
  {% endfor %}
  </section>
{% endblock aside %}
