{% extends 'core/base.html' %}
{% load drafthub_extras %}
{% block content %}

	<div class="container-lg bg-light rounded border py-3">
		<div class="row align-items-center">
			<div class="col-auto">
				<h1 class="mt-auto">{{ blog }}</h1>	
			</div>
			<div class="col-auto pl-0 text-muted">
					{% if blog.bio == 'get_from_github' %}
					{{ github.bio }}
					{% else %}
					{{ blog.bio }}
					{% endif %}
			</div>
			{% if user == blog %}
			<div class="col">
				<a href="/edit/" role="button" class="btn btn-danger">Edit</a>
			</div>
			{% endif %}
		</div>
		<hr>
		<div class="row text-monospace text-center">
			<div class="col-auto mx-auto">
				{{ blog.text|linebreaks }}
			</div>
		</div>
		<div class="row text-monospace row-cols-1 mt-5">
			<div class="col">
				<span><a href="https://github.com/{{ blog }}" target="_blank">github.com/{{ blog }}</a></span>
			</div>
			<div class="col">
				<span>{{ blog.email }}</span>
			</div>
		</div>
	</div>

	<div class="container-lg my-5">
		<div class="row my-3">
			<div class="col">
				<h2>{{ blog.my_drafts.count }} articles</h2>
			</div>
		</div>

		<div class="row row-cols-1 row-cols-md-2">
			{% for draft in blog_drafts %}
			<div class="col mb-5">
				<div class="card bg-light">
					<div class="card-body">
						<h5 class="card-title"><a class="inherit-color" href="{{ draft.get_absolute_url }}">{{ draft.title }}</a></h5>
						<h6 class="card-subtitle mb-2 text-muted">
							<a class="inherit-color" href="{{ draft.blog.get_absolute_url }}">{{ draft.blog }}</a>
							, <a class="inherit-color" href="{{ draft.get_absolute_url }}">
								{{ draft.created|date:"M d, Y" }}
								{% if draft.updated %} (updated {{ draft.updated|date:"M d, Y" }}){% endif %}
							</a></h6>
						<p class="card-text">{{ draft.description }}</p>
						{% for tag in draft.tags.all %}
							<a href="{{ tag.get_absolute_url }}" class="card-link badge badge-pill badge-light border">
								{% if tag.icon %}
								<i class="{{ tag.icon }}"></i>
								{% endif %}
								{{ tag }}
								</a>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<nav aria-label="...">
			<ul class="pagination ">
				{% for page in page_obj.paginator.num_pages|count_range %}
					{% if page == page_obj.number %}
					<li class="page-item disabled"><a class="page-link" href="" tabindex="-1">{{ page }}</a></li>
					{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>

	</div>

{% endblock content %}
