{% extends 'core/base.html' %}
{% load drafthub_extras %}
{% block content %}

	<div class="container-lg ">
		<div class="row">
			<div class="col-auto" style="word-break:break-all;">
				<h1>{{ draft.title }}</h1>
			</div>
			{% if user == draft.blog %}
			<div class="col-auto my-auto pr-0">
				<a href="edit/" role="button" class="btn btn-outline-danger">Edit</a>
			</div>

			<!-- Button trigger modal -->
			<div class="col-auto my-auto">
				<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteDraft">
					Delete
				</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="deleteDraft" tabindex="-1" role="dialog" aria-labelledby="deleteDraftLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header" style="word-break:break-all;">
							<h5 class="modal-title" id="deleteDraftLabel">Delete <b>{{ draft.get_short_title }}</b> ?</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							This action can not be reverted
						</div>
						<div class="modal-footer">
							<form method="post" action="{% url 'draft-delete' view.kwargs.blog view.kwargs.slug %}">
							{% csrf_token %}
							<input type="button" class="btn btn-info" data-dismiss="modal" value="Cancel">
							<input type="submit" class="btn btn-danger" value="Confirm">
							</form>
						</div>
					</div>
				</div>
			</div>

			{% endif %}
		</div>
		<div class="row">
			<div class="col" style="word-break:break-all;">
				{{ draft.description }}
			</div>
		</div>
		<div class="row align-items-end line-height-1">
			<div class="col-auto mr-auto mt-3">
				<div class="row">
					<div class="col-auto">
						by <a href="{{ draft.blog.get_absolute_url }}">{{ draft.blog }}</a>
					</div>
					<div class="col-auto">
						{{ draft.created }}
						{% if draft.updated %} (updated {{ draft.updated|date:"M d, Y" }}){% endif %}
					</div>
					<div class="col-auto">
						{{ draft.hits }} views
					</div>
				</div>
			</div>
			<div class="col-auto ml-3 mt-3">
				<div class="row">
					<div class="col-auto pr-0 pl-0 mr-3">
						{% if request.user|in_queryset:draft.likes %}<button class="btn btn-sm btn-info">
						{% else %}<button class="btn btn-sm btn-outline-info">
						{% endif %}
							<i class="far fa-heart mr-2"></i>
							Like
							<span class="badge badge-info ml-2">{{ draft.likes.count }}</span>
							<a href="like/" class="stretched-link"></a>
						</button>
					</div>
					<div class="col-auto pr-0 pl-0 mr-3">
						{% if request.user|in_queryset:draft.favorites %}<button class="btn btn-sm btn-info">
						{% else %}<button class="btn btn-sm btn-outline-info">
						{% endif %}
							<i class="far fa-star mr-2"></i>
							Favorite
							<span class="badge badge-info ml-2">{{ draft.favorites.count }}</span>
							<a href="favorite/" class="stretched-link"></a>
						</button>
					</div>
					<div class="col-auto pr-0 pl-0 mr-3">
						<button class="btn btn-sm btn-outline-info"><i class="fab fa-github mr-2"></i>Edit on GitHub</button>
						<a href="{{ draft.github_url }}" target="_blank" class="stretched-link"></a>
					</div>
				</div>
			</div>
		</div>
		</div>

<!-- second content -->

	<hr>
	<div class="container-lg my-5">
		<div class="markdown-body">
			{{ draft | markdown }}
		</div>
	</div>

<!-- third content -->

	<hr>
	<div class="container-lg" id="third-content">
		<div class="row align-items-top">
			<div class="col ml-3">
				<div class="row">
					{% for tag in draft.tags.all %}
					<div class="col-auto p-0 mr-2 mb-2">
						<a href="{{ tag.get_absolute_url }}" class="card-link badge badge-light border p-2">
							{% if tag.icon %}
							<i class="{{ tag.icon }}"></i>
							{% endif %}
							{{ tag }}
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-auto ml-3">
				<div class="row">
					<div class="col-auto pr-0 pl-0 mr-3">
						{% if request.user|in_queryset:draft.likes %}<button class="btn btn-sm btn-info">
						{% else %}<button class="btn btn-sm btn-outline-info">
						{% endif %}
							<i class="far fa-heart mr-2"></i>
							Like
							<span class="badge badge-info ml-2">{{ draft.likes.count }}</span>
							<a href="like/#third-content" class="stretched-link"></a>
						</button>
					</div>
					<div class="col-auto pr-0 pl-0 mr-3">
						{% if request.user|in_queryset:draft.favorites %}<button class="btn btn-sm btn-info">
						{% else %}<button class="btn btn-sm btn-outline-info">
						{% endif %}
							<i class="far fa-star mr-2"></i>
							Favorite
							<span class="badge badge-info ml-2">{{ draft.favorites.count }}</span>
							<a href="favorite/#third-content" class="stretched-link"></a>
						</button>
					</div>
					<div class="col-auto pr-0 pl-0 mr-3">
						<button class="btn btn-sm btn-outline-info"><i class="fab fa-github mr-2"></i>Edit on GitHub</button>
						<a href="{{ draft.github_url }}" target="_blank" class="stretched-link"></a>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- forth content -->
	<div class="container-lg mt-5">
		<h2>Comments</h2>
		<table class="table">
			<tbody>
				{% for comment in draft.comments.all %}
					<tr id="{{ comment.id }}" class="tr-hidden-btn">
						<th scope="row"><a style="color:black" href="{{ comment.blog.get_absolute_url }}">{{ comment.blog }}</a></th>
						<td style ="word-break:break-all; vertical-align:top">
							<div class="markdown-body">
							{{ comment.content|plaintext_markdown}}
							</div>

							<br>
							<span class="text-muted">{{ comment.created }}</span>
							{% if comment.updated > comment.created %}
							<span class="text-muted">(edited {{ comment.updated }})</span>
							{% endif %}

							{% if user == comment.blog %}
							<a href="{% url 'comment-edit' view.kwargs.blog view.kwargs.slug comment.pk %}" role="button" class="btn btn-sm btn-outline-danger py-0 ml-1">Edit</a>


							<!-- Button trigger modal -->
							<button type="button" class="btn btn-sm btn-outline-danger py-0" data-toggle="modal" data-target="#deleteComment">
								Delete
							</button>

							<!-- Modal -->
							<div class="modal fade" id="deleteComment" tabindex="-1" role="dialog" aria-labelledby="deleteCommentLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="deleteCommentLabel">Delete your comment?</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											This action can not be reverted
										</div>
										<div class="modal-footer">
											<form method="post" action="{% url 'comment-delete' view.kwargs.blog view.kwargs.slug comment.pk %}">
											{% csrf_token %}
											<input type="button" class="btn btn-info" data-dismiss="modal" value="Cancel">
											<input type="submit" class="btn btn-danger" value="Confirm">
											</form>
										</div>
									</div>
								</div>
							</div>





							{% endif %}
							<a href="comment/new/?quote={{ comment.pk }}" role="button" class="quote-hidden-btn btn btn-sm btn-outline-info py-0 ml-1">Quote</a>
						</td>
					</tr>
				{% endfor %}
				<tr class="tr-hidden-btn">
					<th scope="row"> </th>
					<td>
						<a href="comment/new/" role="button" class="btn btn-sm btn-info">Make a comment</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock content %}
