{% extends 'core/base.html' %}
{% load drafthub_extras %}
{% block content %}

	<div class="container-lg ">
		<div class="row">
			<div class="col-auto">
				<h1>{{ draft.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ draft.abstract }}
			</div>
		</div>
		<div class="row align-items-end line-height-1">
			<div class="col-auto mr-auto mt-3">
				<div class="row">
					<div class="col-auto">
						by <a href="#">{{ draft.blog }}</a>
					</div>
					<div class="col-auto">
						{{ draft.pub_date }}
					</div>
					<div class="col-auto">
						{{ draft.view_count }} views
					</div>
				</div>
			</div>
			<div class="col-auto ml-3 mt-3">
				<div class="row">
					<div class="col-auto pr-3 pl-0">
						<button class="btn btn-sm btn-outline-info"><i class="far fa-heart mr-2"></i>
							Like
							<span class="badge badge-info ml-2">10</span>
							</button>
					</div>
					<div class="col-auto pr-3 pl-0">
						<button class="btn btn-sm btn-outline-info"><i class="far fa-star mr-2"></i>Favorite</button>
					</div>
					<div class="col-auto pr-3 pl-0">
						<button class="btn btn-sm btn-outline-info"><i class="fab fa-github mr-2"></i>Edit on GitHub</button>
					</div>
				</div>
			</div>
		</div>
		</div>

<!-- second content -->

	<hr>
	<div class="container-lg my-5">
		<div class="markdown-body">
			{{ draft | markdown }}
		</div>
	</div>

<!-- third content -->

	<hr>
	<div class="container-lg">
		<div class="row align-items-top">
			<div class="col ml-3">
				<div class="row">
					{% for tag in draft.tags.all %}
					<div class="col-auto p-0 mr-2 mb-2">
					<span class="badge badge-light border p-2">{{ tag }}</span>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-auto ml-3">
				<div class="row">
					<div class="col-auto pr-3 pl-0">
						<button class="btn btn-sm btn-outline-info"><i class="far fa-heart mr-2"></i>
							Like
							<span class="badge badge-info ml-2">10</span>
							</button>
					</div>
					<div class="col-auto pr-3 pl-0">
						<button class="btn btn-sm btn-outline-info"><i class="far fa-star mr-2"></i>Favorite</button>
					</div>
					<div class="col-auto pr-3 pl-0">
						<button class="btn btn-sm btn-outline-info"><i class="fab fa-github mr-2"></i>Edit on GitHub</button>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- forth content -->
	<div class="container-lg mt-5">
		<h2>Comments</h2>
		<table class="table">
			<tbody>
				{% for comment in draft.comments.all %}
					<tr class="tr-hidden-btn">
						<th scope="row">{{ comment.blog }}</th>
						<td>
							{{ comment.content }}
							<span class="text-muted">- {{ comment.created }}</span>
							<button class="quote-hidden-btn btn btn-sm btn-outline-secondary py-0 ml-1">Quote</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>



	<div class="my-5" style="height:300px"></div>

{% endblock content %}
