{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-lg">
	<form action="" method="POST">
		{% csrf_token %}
		{{ form | crispy }}
		<input class="btn btn-info" type="submit" value="submit">
		<input onclick="location.href='{{ request.META.HTTP_REFERER }}'" class="btn btn-outline-danger" type="button" value="Cancel">
	</form>
</div>
{% endblock content %}

<!-- inputtags
<section>
	<b-field label="Enter some tags">
		<b-taginput
			v-model="tags"
			:data="filteredTags"
			autocomplete
			allow-new
			maxlength="25"
			maxtags="5"
			style="font-family:monospace;"
			placeholder="Add a tag"
			@typing="getFilteredTags">
		</b-taginput>
	</b-field>
</section>

<ul>
	<li v-for="(tag, index) in tags">tag [[ index ]]: [[ tag ]]</li>
</ul>

-->
