{% extends 'core/base2.html' %}
{% load drafthub_extras %}

{% block meta %}
  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}">
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ page_author }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page_url }}">
  <meta property="twitter:title" content="{{ page_title }}">
  <meta property="twitter:description" content="{{ page_description }}">
  <meta property="twitter:image" content="{{ page_image }}">
{% endblock meta %}



{% block breadcrumb %}
  <li><a href="{% url 'home' %}">DRAFTHUB</a></li>
  <li class="is-active"><a aria-current="page">New</a></li>
  {{ block.super }}
{% endblock breadcrumb %}

{% block main %}
  <section aria-labelledby="preview" role="alert">
    <heading1 id="preview">Preview</heading1>
    <markdownpreview :url="newArticle.url"></markdownpreview>
  </section>
{% endblock main %}

{% block aside %}
  <heading1>New article</heading1>
  {% include 'draft/draftForm.html' %}
{% endblock aside %}


{% block script %}
<script>

vm.newArticle.title = "{{ form.title.value|default:'' }}";
vm.newArticle.description = "{{ form.description.value|default:'' }}";
vm.newArticle.url = "{{ form.github_url.value|default:'' }}";
vm.newArticle.image = "{{ form.image.value|default:'' }}";
strTags = "{{ form.tags.value|default:'' }}";
if (strTags){
  vm.newArticle.tags = strTags.split(', ');
};

vm.newArticle.formError.url = {{ form.github_url.errors|js_bool }};
vm.newArticle.formError.title = {{ form.title.errors|js_bool }};
vm.newArticle.formError.description = {{ form.description.errors|js_bool }};
vm.newArticle.formError.image = {{ form.image.errors|js_bool }};
vm.newArticle.formError.tags = {{ form.tags.errors|js_bool }};


fetch('/api/topics')
  .then(res => res.json())
  .then(data => vm.newArticle.apiTags = data.tags)
</script>
{% endblock script %}
