{% extends 'core/base2.html' %}
{% load drafthub_extras %}

{% block meta %}
  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}">
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ page_author }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page_url }}">
  <meta property="twitter:title" content="{{ page_title }}">
  <meta property="twitter:description" content="{{ page_description }}">
  <meta property="twitter:image" content="{{ page_image }}">
{% endblock meta %}



{% block breadcrumb %}
  <li><a href="{% url 'home' %}">DRAFTHUB</a></li>
  <li><a href="#" aria-current="page">New</a></li>
  <li class="is-hidden-mobile" aria-hidden="true"></li>
{% endblock breadcrumb %}

{% block start %}
  <div class="navbar-item">
    <dh-search action="{% url 'search' %}" placeholder="Search"></dh-search>
  </div>
{% endblock start %}


















{% block container %}
<div style="border: 1px solid #ddd" class="box">



  <form action="" method="POST">
    {% csrf_token %}



    <p>
    <label>
      title
      <input v-model="newArticle.title" name="title" type="text">
    </label>
    {{ form.title.errors }}</p>

    <label>
      description
      <input v-model="newArticle.description" name="description" type="text">
    </label>
    {{ form.title.errors }}</p>

    <p>
    <label>
      github url
      <input v-model.lazy="newArticle.url" name="github_url" type="text">
    </label>
    {{ form.github_url.errors }}</p>

    <p>
    <label>
      image
      <input v-model.lazy="newArticle.image" name="image" type="text">
    </label>
    {{ form.image.errors }}</p>

  oasdokasd
    oasdkokads

    <input type="submit" value="Publish">


   <inputtags :api="newArticle.apiTags" name="tags" v-model="newArticle.tags"></inputtags>
   {{ form.tags.errors }}</p>
  </form>


        </div>



{% endblock container %}

{% block main %}
        <preview :url="newArticle.url"></preview>
{% endblock main %}


{% block aside %}
  <articlecover :src="newArticle.image"></articlecover>

        <p><small>
          <a rel="author" href="#">
            <address class="is-inline">
              felipelincoln,
            </address>
          </a>
          <a href="#">
            <time pubdate>
              {% now "M j"%}
            </time>
          </a>  
        </small></p>
        <h2 style="word-wrap: break-word;text-transform: capitalize;">
          <a href="#"><strong>
            [[ newArticle.title ]]
          </strong></a>
            <b-skeleton v-if="!newArticle.title" :animated="false" height="19px"></b-skeleton>
        </h2>
        <p><small>
          <a v-for="tag in newArticle.tags" href="#">#[[ tag ]] </a>
        </small></p>
        <br>
        <p><b>tl;dr</b> 
          [[ newArticle.description ]]
            <b-skeleton v-if="!newArticle.description" :animated="false"></b-skeleton>
            <b-skeleton v-if="!newArticle.description" :animated="false"></b-skeleton>
            <b-skeleton v-if="!newArticle.description" :animated="false"></b-skeleton>
            <b-skeleton v-if="!newArticle.description" :animated="false"></b-skeleton>
        </p>
  
{% endblock aside %}


{% block script %}
<script>

vm.newArticle.title = "{{ form.title.value|default:'' }}";
vm.newArticle.description = "{{ form.description.value|default:'' }}";
vm.newArticle.url = "{{ form.github_url.value|default:'' }}";
vm.newArticle.image = "{{ form.image.value|default:'' }}";
strTags = "{{ form.tags.value|default:'' }}";
if (strTags){
  vm.newArticle.tags = strTags.split(', ')
}


fetch('/api/topics')
  .then(res => res.json())
  .then(data => vm.newArticle.apiTags = data.tags)
</script>
{% endblock script %}
