{% extends 'core/base2.html' %}
{% load drafthub_extras %}

{% block meta %}
  <title>{{ page_title }}</title>
  <meta name="title" content="{{ page_title }}">
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ page_author }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page_url }}">
  <meta property="twitter:title" content="{{ page_title }}">
  <meta property="twitter:description" content="{{ page_description }}">
  <meta property="twitter:image" content="{{ page_image }}">
{% endblock meta %}



{% block breadcrumb %}
  <li><a href="{% url 'home' %}">DRAFTHUB</a></li>
  <li class="is-active"><a aria-current="page">New</a></li>
  <li class="is-hidden-mobile" aria-hidden="true"></li>
{% endblock breadcrumb %}

{% block start %}
  <div class="navbar-item">
    <searchform action="{% url 'search' %}" placeholder="Search"></searchform>
  </div>
{% endblock start %}

{% block main %}
  <heading1 id="nn" >Preview</heading1>
  <markdownpreview :url="newArticle.url"></markdownpreview>
{% endblock main %}

{% block aside %}
  <heading1 id="nn" >New article</heading1>
  <form
    action=""
    method="POST"
    autocomplete="off"
    @keydown.enter.prevent>
    {% csrf_token %}

    <b-field
      message="* Must be a .md file from your GitHub"
      label="Markdown url"
      :type="{'is-danger': newArticle.formError.url}">
      <b-input
        @input.once="newArticle.formError.url=false"
        :value="newArticle.url"
        @change.native="newArticle.url = $event.target.value"
        name="github_url"
        type="url"
        :use-html5-validation="false"
        autocomplete="off">
      </b-input>
      <template v-if="newArticle.formError.url" slot="message">
        {{ form.github_url.errors }}
      </template>
    </b-field>

    <b-field label="Cover image url" :type="{'is-danger': newArticle.formError.image}">
      <b-input 
        @input.once="newArticle.formError.image=false"
        :value="newArticle.image"
        @change.native="newArticle.image = $event.target.value"
        name="image"
        type="url"
        :use-html5-validation="false"
        autocomplete="off">
      </b-input>
      <template v-if="newArticle.formError.image" slot="message">
        {{ form.image.errors }}
      </template>
    </b-field>
    <coverpreview :src="newArticle.image"></coverpreview>

    <b-field label="Title" :type="{'is-danger': newArticle.formError.title}">
      <b-input
        @input="newArticle.formError.title=false"
        v-model="newArticle.title"
        maxlength="{{ form.fields.title.max_length }}"
        autocomplete="off"
        name="title"
        type="text">
      </b-input>
      <template v-if="newArticle.formError.title" slot="message">
        {{ form.title.errors }}
      </template>
    </b-field>

    <b-field label="Description" :type="{'is-danger': newArticle.formError.description}">
      <b-input
        @input.once="newArticle.formError.description=false"
        v-model="newArticle.description"
        maxlength="{{ form.fields.description.max_length }}"
        name="description"
        type="textarea"
        rows="7"
        autocomplete="off">
      </b-input>
      <template v-if="newArticle.formError.description" slot="message">
        {{ form.description.errors }}
      </template>
    </b-field>

    <b-field
      label="Tags"
      :type="{'is-danger': newArticle.formError.tags}">
      <inputtags
        @input.once="newArticle.formError.tags=false"
        :api="newArticle.apiTags"
        name="tags"
        v-model="newArticle.tags">
      </inputtags>
      <template v-if="newArticle.formError.tags" slot="message">
        {{ form.tags.errors }}
      </template>
    </b-field>

    <p class="control pt-3">
      <button class="button is-dark is-fullwidth">Publish</button>
    </p>
  </form>
{% endblock aside %}


{% block script %}
<script>

vm.newArticle.title = "{{ form.title.value|default:'' }}";
vm.newArticle.description = "{{ form.description.value|default:'' }}";
vm.newArticle.url = "{{ form.github_url.value|default:'' }}";
vm.newArticle.image = "{{ form.image.value|default:'' }}";
strTags = "{{ form.tags.value|default:'' }}";
if (strTags){
  vm.newArticle.tags = strTags.split(', ');
};

vm.newArticle.formError.url = {{ form.github_url.errors|js_bool }};
vm.newArticle.formError.title = {{ form.title.errors|js_bool }};
vm.newArticle.formError.description = {{ form.description.errors|js_bool }};
vm.newArticle.formError.image = {{ form.image.errors|js_bool }};
vm.newArticle.formError.tags = {{ form.tags.errors|js_bool }};


fetch('/api/topics')
  .then(res => res.json())
  .then(data => vm.newArticle.apiTags = data.tags)
</script>
{% endblock script %}
