$navbar-item-hover-color: $primary;
$navbar-tab-hover-border-bottom-color: $primary;
$navbar-tab-active-color: $primary;
$navbar-tab-active-border-bottom-color: $primary;
$navbar-dropdown-arrow: $primary;
$navbar-dropdown-item-active-color: $primary;
$navbar-box-shadow-size: 0 1px 2px;
$navbar-box-shadow-color: rgba($dark, 0.2);
$navbar-height: 2.5rem;
